* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  border: 2px solid;
  border-top: transparent;
  border-collapse: collapse;
  margin: 50px auto;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 500;
}

caption {
  font-size: 30px;
  background-color: black;
  color: white;
  padding: 12px;
}

thead {
  background-image: linear-gradient(#150050, #506d84);
  font-size: 32px;
  color: rgb(10, 8, 141);
}

td {
  width: 180px;
  padding: 5px;
  height: 30px;
  border-right: 2px solid white;
}

tr td :nth-child(4) {
  border-right: none;
}

tr {
  width: 700px;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: rgb(183, 196, 233);
}

thead tr:nth-child(odd) {
  background-color: rgb(183, 196, 233);
}

.fa-check {
  color: green;
}

.fa-times {
  color: red;
}

.btn {
  background-color: rgb(10, 8, 141);
  text-align: center;
  color: white;
  border-radius: 10%;
  font-size: 1.5rem;
  width: 86%;
  margin-left: 7%;
  height: 30px;
  font-size: 22px;
}

.btn:hover {
  background-color: blue;
}
