.header {
  text-align: center;
  width: 100%;
  background-color: gray;
  height: 3rem;
  font-size: 3rem;
}

.banner {
  height: 100%;
  margin-top: -25px;
  background-color: skyblue;
  line-height: 100%;
}
