body {
  width: 100vw;
  height: 100vh;
  padding: auto;
  background-color: cornflowerblue;
}
.container {
  margin: auto;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
}
.counter {
  display: flex;
  justify-content: center;
  width: 100%;
}

h1 {
  text-transform: uppercase;
  color: aliceblue;
}
.counter > button {
  margin: 10px;
  font-size: 20px;
  padding: 5px;
}
h3 {
  font-size: 30px;
  margin: 10px;
  padding: 5px;
}
