* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-image: linear-gradient(black, white);
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  background-position: center;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  color: whitesmoke;
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
  max-width: 1500px;
  margin: 0 auto;
}
