* {
  padding: 0;
  margin: 0;
  border-style: 0;
}

body {
  background-color: lightgrey;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(199, 36, 63);
  border-bottom: 16px rgb(199, 36, 63);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  width: 1100px;
  background-color: #fff;
  margin: 40px auto;
  border: 1px solid black;
  display: none;
}

td {
  height: 60px;
}

.custom-table {
  width: 100%;
  margin: 0 auto;
  min-width: 400px;
  border: 2px solid black;
}

.sub {
  color: darkgreen;
}

.custom-table td,
.custom-table th {
  border-right: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 1px solid #dddddd;
}

a {
  text-decoration: none;
  color: black;
}

i {
  color: grey;
}

i:hover {
  color: blue;
}

.head {
  color: pink;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 30px;
  vertical-align: middle;
}

thead {
  color: black;
  font-size: 20px;
}

p {
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: bold;
  background-color: rgb(199, 36, 63);
  height: 50px;
  width: 100%;
  line-height: 50px;
}

a {
  color: darkblue;
  text-decoration: underline;
  font-size: 15.5px;
  text-align: left;
}

a:hover {
  color: orangered;
}
