.background {
  background-color: lightgray;
}

.heading {
  color: white;
  text-align: center;
}

.card {
  height: auto;
  overflow: hidden;
  width: 22%;
  background-color: whitesmoke;
  border: black;
  border-width: 2px;
  border-style: solid;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.card h3 {
  text-align: center;
}

.btn {
  background-color: orange;
  text-align: center;
  color: white;
  border-radius: 5%;
  font-size: 20px;
}

a {
  text-decoration: none;
}
