.background {
  background-color: lightgray;
}

.heading {
  color: white;
  text-align: center;
}

.card {
  height: auto;
  overflow: hidden;
  width: 22%;
  background-color: whitesmoke;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.card h3 {
  text-align: center;
}
